body.clean {
	padding: 100px;
	text-align: center;

	.loginPanel {
		margin: 0 auto;
		width: 350px;

		.loginPanel__body {
			background: #fff;
			border: #ccc;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			margin: 30px 0;
			padding: 25px;
			text-align: left;

			input[type=email], input[type=password] {
				border: 0 none;
				border-bottom: #777 1px solid;
				box-shadow: none;
			}
		}
	}
}