.contentContainer {
	padding: 25px 50px;
	width: 100%;

	section.controlPanel {
		@extend .panel;

		background: $dcodeDarkBlue;
		display: inline-block;
		float: left;
		margin-right: 20px;
		width: 300px;

		.controlPanel__content {
			&.white {
				background: #fff;
				margin: -20px;
				padding: 20px;

				div {
					padding-bottom: 5px;
				}

				hr {
					border-color: $lightGray;
				}

				label {
					color: darken($lightGray, 15%);
				}

				section.header {
					background: darken($lightGray, 5%);
					margin: 20px -20px;
					padding: 10px 20px;

					h3 {
						font-size: rem-calc(18);
						margin: 0;
						padding: 5px 0;
					}
				}
			}
		}
	}

	section.content {
		@include flex-grid-row(
			$width: calc(100% - 200px)
		);

		.main {
			@include flex-grid-column(12);
		}

		.options {
			@include flex-grid-column(12);

			padding: 10px 0;

			menu, button {
				display: inline-block;
				margin: 0;
			}

			menu {
				padding: 0;

				a {
					margin-bottom: 0;
				}
			}
		}

		article {
			@include flex-grid-column(9);

			padding: 25px;
		}

		aside {
			@include flex-grid-column(3);

			padding: 25px;
		}
	}
}