.notice {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;

	.alert-box {
		color: #fff;
		padding: 25px;

		&.alert {
			background: $alert-color;
		}
		&.success {
			background: $success-color;
		}
	}
}

.top-bar {
	background: #fff !important;
	height: 100px;
	padding-left: 50px;
	padding-right: 50px;

	* {
		background: #fff !important;
		color: #fff;
	}

	.top-bar-left {
		height: 50px;
		width: 1200px !important;

		.menu {
			height: 50px;

			.menu-text {
				height: 50px;
				padding: 0;

				a {
					color: $dcodeDarkBlue !important;
					height: 50px;

					h1 {
						font-size: rem-calc(18) !important;
						margin: 0;
						padding: 0;

						img {
							height: 70px !important;
							margin-right: 30px;
							margin-top: -22.5px;
						}
					}
				}
			}

			a {
				color: $dcodeDarkBlue !important;
			}
		}
	}

	.top-bar-right {
		// border: red 1px solid;
		text-align: right;
		max-width: 300px;

		menu {
			a {
				float: right;
			}
		}
	}


	li {
		padding: 3px 25px;

		a {
			color: $dcodeDarkBlue !important;
			font-size: rem-calc(14);
			font-weight: 550;
			padding: 7px 0;

			&.active {
				border-bottom: $dcodeBlue 3px solid;
				color: $dcodeBlue !important;
				font-weight: bold;
			}

			&.button {
				background: $light-gray !important;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				margin-top: -3px;
				padding: 10px 20px;
			}
		}
	}
}

section.header {
	dislay: none;

	border-bottom: $lightGray 1px solid;
	padding: 10px 30px;

	h1 {
		font-size: rem-calc(22);
		margin: 0;
		padding: 0;
	}
}