/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* Colours */
$dcodeBlue: #1baad2;
$dcodeDarkBlue: #354052;

$green: #6ab63c;
$red: #d85c5c;

$lightGray: #f0f0f0;


body * {
	color: #555;
	font-family: 'Open Sans', sans-serif;

	.fa {
		font-family: 'FontAwesome';
	}
}