.activityLog {
	// border: red 1px solid;
	margin-bottom: 50px;
	width: 100%;

	header {
		border-bottom: $dcodeDarkBlue 1px solid;
		margin-bottom: 50px;

		h3 {
			display: inline-block;
		}

		div {
			display: inline-block;

			div {
				display: inline-block;
			}
		}
	}

	.activity {
		// border: red 1px solid;
		border-left: #ccc 2px solid;
		margin-left: 20px;
		padding: 0 0 20px 50px;
		position: relative;

		&:last-child {
			.activity__comment {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}

		.activity__icon {
			display: block;
			float: left;
			margin-left: -61px;
			position: absolute;
		}

		.activity__comment {
			border-bottom: $dcodeDarkBlue 1px solid;
			padding-bottom: 20px;

			h4 {
				color: $dcodeDarkBlue;
				font-size: rem-calc(18);
				margin: 0;
				padding: 0;
			}

			.activity__comment--date {
				float: right;
				font-size: rem-calc(16);
			}

			.activity__comment--meta {
				font-size: rem-calc(12);
				margin-top: 5px;

				label {
					display: inline-block;
					font-size: rem-calc(11);
				}
			}
		}
	}

}