.cards {
	@include flex-grid-row(
		$width: calc(100%)
	);

	margin: 0;
	width: 100%;

	.cardContainer {
		@include flex-grid-column(12);

		padding-right:  25px;

		@include breakpoint(medium) {
			@include flex-grid-column(6);
		}

		@include breakpoint(large) {
			@include flex-grid-column(6);
		}

		@include breakpoint(xlarge) {
			@include flex-grid-column(4);
		}

		@include breakpoint(xxlarge) {
			@include flex-grid-column(4);
		}

		.card {
			background:    #ffffff;
			border-radius: 5px;
			display: block;
			margin-bottom: 25px;
			padding:       0 !important;
			width: 100%;

			header {
				background:    $dcodeBlue;
				border-radius: 5px 5px 0 0;
				color:         #ffffff !important;
				padding:       20px;
				position: relative;

				span {
					color: #ffffff !important;
				}

				h1, h2, h3, h4, h5, h6 {
					color: #ffffff;
				}

				h3 {
					font-size: rem-calc(18) !important;
					padding-bottom: 7px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				menu {
					color:      #ffffff !important;
					display:    inline-block;
					float:      right;
					margin:     0;
					margin-top: -7px;
					padding:    0;
					text-align: right;

					a, form {
						display: inline-block;
						padding: 5px;

						span {
							color: #ffffff !important;
						}
					}
				}

				.badge {
					position: absolute;
					right: 5px;
					top: 5px;
				}
			}
			.cardBody {
				background: #ffffff;
				padding:    20px;

				.cardBody__item {
					border-bottom: $dcodeDarkBlue 1px solid;
					padding:       12px 0;
					text-align:    right;

					&:last-child {
						border-bottom: 0px;
					}

					label {
						display: inline-block;
						float:   left;
					}
				}
			}
			footer {
				a.button.round {
					background:            #efefef;
					-webkit-border-radius: 30px;
					-moz-border-radius:    30px;
					border-radius:         30px;
					color:                 #777777;
					position:              relative;
					width:                 32%;

					span.badge {
						-webkit-border-radius: 100%;
						-moz-border-radius:    100%;
						border-radius:         100%;
						height:                20px;
						line-height:           15px;
						padding:               3px;
						position:              absolute;
						right:                 0;
						top:                   -10px;
					}
				}
			}
		}
	}
}