fieldset {
	border-top: $lightGray 1px solid;
	margin: 25px 10px;
	margin-top: 10px;

	legend {
		background: #fff;
		color: #777;
		font-weight: bold;
		padding-right: 10px;
	}

	div {
		padding-bottom: 10px;

		label {
			color: #777;
			font-size: rem-calc(12);
		}
	}


	.row {
		margin: 0 -16px !important;
		margin-left: -16px;
		margin-right: -16px;
		width: calc(100% + 36px) !important;
		max-width: calc(100% + 36px) !important;
	}
}

.form {
	form {
		fieldset {
			max-width: 600px;
		}

		.formAction {
			background: #f5f5f5;
			borer-top: $lightGray 1px solid;
			bottom: 0;
			display: block;
			padding: 25px;
			position: fixed;
			width: 100%;
			z-index: 1;

			input[type=submit] {
				background: $green;
				border-radius: 3px;
				color: #fff;
				float: right;
				padding: 10px 25px;
			}

			a {
				background: #f5f5f5 !important;
				border-radius: 3px;
				display: inline-block;
				padding: 10px 25px;
			}

		}
	}

	&.formModal {
		fieldset {
			border-top: 0;
		}
		.formAction {
			background: #fff;
			border-top: 0 none;
			padding: 0px;
			position: relative;
		}
	}
}

textarea {
	height: 100px !important;
	margin-bottom: 5px;
}
input[type=submit] {
	@extend .buttonAction
}