.missing {
	border: #ccc 2px dashed;
	color: #ccc !important;
	display: block;
	margin: 10px 0;
	padding: 25px;
	text-align: center;

	h3 {
		color: #ccc;
		font-size: rem-calc(18);
	}

	p {
		color: #ccc !important;
		font-size: rem-calc(14);
	}

}