.panel {
	border-radius: 5px;

	header, .body {
		padding: 20px;
	}

	header {
		border-bottom: rgba(255,255,255,0.4) 1px solid;
		color: #fff;

		menu {
			display: inline-block;
			float: right;
			margin: 0;
			padding: 0;

			a {
				padding: 5px;

				span {
					color: #fff !important;
				}
			}
		}

		h3 {
			color: #fff;
			font-size: rem-calc(20);
			font-weight: 400;
			margin: 0;
			padding: 0;
		}

		a.buttonAction {
			background: $green !important;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			float: right;
			height: 35px;
			margin-top: -5px;
			position: relative;
			width: 35px;

			span {
				left: 3px;
				font-size: rem-calc(48);
				font-weight: 100;
				line-height: 1;
				position: absolute;
				top: -9px;
				z-index: 1;
			}
		}
	}

	.body {
		color: #fff;

		label {
			color: rgba(255,255,255,0.4);
		}

		hr {
			border-bottom: 1px solid rgba(255,255,255,0.4);
			margin: 10px 0 20px 0;
		}

		div.options {
			position: relative;

			select {
				background: transparent !important;
				border: 0 none;
				color: #fff;
				margin-bottom: 0;
				padding-left: 0;
				position: relative;
			}

			&:after {
				color: $lightGray;
				content: "\f107";
				font-family: 'FontAwesome';
				font-size: rem-calc(18);
				line-height: 1.5 !important;
				pointer-events: none;
				position: absolute;
				bottom: 5px;
				right: 10px;
				z-index: 1;
			}

		}

		div.search {
			position: relative;

			input[type=text] {
				border: 0 none;
				border-radius: 5px;
				box-shadow: none !important;
				line-height: 1 !important;
				position: relative;
			}

			&:before {
				color: $lightGray;
				content: "\f002";
				font-family: 'FontAwesome';
				font-size: rem-calc(18);
				line-height: 1.5 !important;
				pointer-events: none;
				position: absolute;
				top: 5px;
				right: 10px;
				z-index: 1;
			}

			::-webkit-input-placeholder {
				color: lighten($dcodeDarkBlue, 30%);
				font-family: "Open Sans" !important;
				font-size: rem-calc(12);
				line-height: 1.8 !important;
				margin-top: -2px;
				padding: 2px 10px;
			}

			:-moz-placeholder { /* Firefox 18- */
				color: lighten($dcodeDarkBlue, 30%);
				font-family: "Open Sans" !important;
				font-size: rem-calc(12);
				line-height: 1.8 !important;
				margin-top: -2px;
				padding: 2px 10px;
			}

			::-moz-placeholder {  /* Firefox 19+ */
				color: lighten($dcodeDarkBlue, 30%);
				font-family: "Open Sans" !important;
				font-size: rem-calc(12);
				line-height: 1.8 !important;
				margin-top: -2px;
				padding: 2px 10px;
			}

			:-ms-input-placeholder {
				color: lighten($dcodeDarkBlue, 30%);
				font-family: "Open Sans" !important;
				font-size: rem-calc(12);
				line-height: 1.8 !important;
				margin-top: -2px;
				padding: 2px 10px;
			}
		}
	}
}