.statusSelect {
	background: $dcodeBlue;
	border-radius: 30px;
	color: #fff;
	padding: 7px 20px;

	span {
		color: #fff;
		font-size: rem-calc(17);
		margin-left: 5px;
	}

	&.archived {
		background: $secondary-color;
	}
	&.approved {
		background: $green;
	}
	&.completed {
		background: $green;
	}
	&.outstanding {
		background: $red;
	}
}
