.admin__refine {
	display: block;
	padding: 25px 25px 0 25px;
	width: 100%;

	.search {
		@include flex-grid-row(
			$behavior: 'collapse',
			$width: calc(100%)
		);

		div {
			@include flex-grid-column();

			padding-left: 0px !important;
		}
	}
}

.admin__table {
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;

	display: block;
	padding: 25px;
	padding-top: 0;
	width: 100%;

	table {
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
		border-radius: 5px !important;
		width: 100% !important;

		thead {
			background: $dcodeDarkBlue;
			-webkit-border-radius: 5px 5px 0 0;
			-moz-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;

			tr {
				th {
					color: #fff;
					font-size: rem-calc(11);
					padding: 10px 20px;

					&.action {
						text-align: center;
						width: 50px;
					}

					&.sort {
						position: relative;

						a {
							color: #fff;
							display: inline-block;
							width: 100%;
						}
					}
					&.sort:before {
						content: "\f0dc";
						font-family: 'FontAwesome';
						font-style: normal;
						font-weight: normal;
						text-decoration: inherit;
						/*--adjust as necessary--*/
						color: #ccc;
						font-size: rem-calc(12);
						padding-right: 0.5em;
						position: absolute;
						top: 7px;
						right: 2px;
					}
					&.sort.asc, &.sort.desc {
						a {
							color: $dcodeBlue;
						}
					}
					&.sort.asc:before {
						content: "\f0de";
						color: #555;
					}
					&.sort.desc:before {
						content: "\f0dd";
						color: #555;
					}
					&:last-child {
						border-right: 0;
					}
				}
			}
		}

		tbody {
			tr {
				background: transparent !important;
				border-bottom: #f1f1f1 1px solid;

				td {
					font-size: rem-calc(14);
					padding: 20px;

					&.alignCenter {
						text-align: center;
					}
					
					a {
						color: $dcodeBlue;
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}

					button {
						margin-bottom: 0 !important;
					}

					span.summary {
						color: #777;
						display: block;
						font-size: rem-calc(10);
					}
				}
			}
		}
	}
}