.taskPanel {
	@extend .panel;

	width: 100%;

	header {
		background: $dcodeDarkBlue;
		-webkit-border-radius: 5px 5px 0 0;
		-moz-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;

		.buttonAction {
			margin-bottom: 0;
		}

		menu {
			float: none !important;

			a {
				color: #fff;
				display: inline-block;
				padding: 3px 10px;
			}
		}
	}

	table {
		thead {

		}

		tbody {
			background: #fff;

			tr {
				background: #fff;
			}
			tr:not(:last-child) {
				border-bottom: $dcodeDarkBlue 1px solid;
			}
		}
	}
}