.taskBoard__header {
	@include flex-grid-row(
		$width: calc(100% + 50px)
	);

	border-bottom: $lightGray 1px solid;
	margin: 0 -25px;
	padding: 0 25px;

	.taskBoard__header--column {
		@include flex-grid-column();

		font-weight: 600;
	}
}

.taskBoard {
	@include flex-grid-row(
		$width: calc(100% + 50px)
	);

	margin: 0 -25px;
	padding: 10px 25px;

	.taskBoard__column {
		@include flex-grid-column();

		min-height: 500px;

		.taskBoard__ticket {
			background: #fff;
			border: $lightGray 1px solid;
			border-radius: 0 0 5px 5px;
			cursor: pointer;
			margin-bottom: 10px;

			.taskBoard__ticket--container {
				font-size: rem-calc(14);
				padding: 15px 10px 10px 10px;

				header {
					font-size: rem-calc(16);
					margin-bottom: 5px;

					.badge {
						position: relative;
						top: -3px;
					}
				}

				footer {
					border-top: $dcodeDarkBlue 1px solid;
					color: $lightGray;
					line-height: 2;
					margin-top: 15px;
					padding: 15px 0 10px 0;

					span {
						width: 20px;
					}
				}
			}

			&:hover {
				-webkit-box-shadow: outset 1px 1px 1px #000;
				-moz-box-shadow: outset 1px 1px 1px #000;
				box-shadow: outset 1px 1px 1px #000;
			}
		}

		&.pending {
			.taskBoard__ticket {
				border-width: 3px 0px 0px 0px;
				border-color: $dcodeBlue #000 #000 #000;
			}
		}

		&.outstanding {
			.taskBoard__ticket {
				border-width: 3px 0px 0px 0px;
				border-color: $red #000 #000 #000;
			}
		}

		&.completed {
			.taskBoard__ticket {
				border-width: 3px 0px 0px 0px;
				border-color: $green #000 #000 #000;
			}
		}
	}
}

.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
}
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}
.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}
.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 2px dotted #ccc;
	margin: 0 1em 1em 0;
	height: 50px;
}